
[Desktop Entry]
Name=Anemone
Exec=/usr/lib/xscreensaver/anemone -root
TryExec=/usr/lib/xscreensaver/anemone
Comment=Wiggling tentacles. Written by Gabriel Finch.
