
[Desktop Entry]
Name=BlockTube
Exec=/usr/lib/xscreensaver/blocktube -root
TryExec=/usr/lib/xscreensaver/blocktube
Comment=Draws a swirling, falling tunnel of reflective slabs. They fade from hue to hue. Written by Lars R. Damerow.
