
[Desktop Entry]
Name=Celtic
Exec=/usr/lib/xscreensaver/celtic -root
TryExec=/usr/lib/xscreensaver/celtic
Comment=Repeatedly draws random Celtic cross-stitch patterns. http://en.wikipedia.org/wiki/Celtic_knot Written by Max Froumentin.
