
[Desktop Entry]
Name=CloudLife
Exec=/usr/lib/xscreensaver/cloudlife -root
TryExec=/usr/lib/xscreensaver/cloudlife
Comment=Generates cloud-like formations based on a variant of Conway's Life. The difference is that cells have a maximum age, after which they count as 3 for populating the next generation. This makes long-lived formations explode instead of just sitting there. http://en.wikipedia.org/wiki/Conway%27s_Game_of_Life Written by Don Marti.
