
[Desktop Entry]
Name=Demon
Exec=/usr/lib/xscreensaver/demon -root
TryExec=/usr/lib/xscreensaver/demon
Comment=A cellular automaton that starts with a random field, and organizes it into stripes and spirals. http://en.wikipedia.org/wiki/Maxwell%27s_demon Written by David Bagley.
