
[Desktop Entry]
Name=Euler2D
Exec=/usr/lib/xscreensaver/euler2d -root
TryExec=/usr/lib/xscreensaver/euler2d
Comment=Simulates two dimensional incompressible inviscid fluid flow. http://en.wikipedia.org/wiki/Euler_equations_%28fluid_dynamics%29 http://en.wikipedia.org/wiki/Inviscid_flow Written by Stephen Montgomery-Smith.
