
[Desktop Entry]
Name=Flame
Exec=/usr/lib/xscreensaver/flame -root
TryExec=/usr/lib/xscreensaver/flame
Comment=Iterative fractals. Written by Scott Draves.
