
[Desktop Entry]
Name=FluidBalls
Exec=/usr/lib/xscreensaver/fluidballs -root
TryExec=/usr/lib/xscreensaver/fluidballs
Comment=Models the physics of bouncing balls, or of particles in a gas or fluid, depending on the settings. If "Shake Box" is selected, then every now and then, the box will be rotated, changing which direction is down (in order to keep the settled balls in motion.) Written by Peter Birtles and Jamie Zawinski.
