
[Desktop Entry]
Name=FlyingToasters
Exec=/usr/lib/xscreensaver/flyingtoasters -root
TryExec=/usr/lib/xscreensaver/flyingtoasters
Comment=A fleet of 3d space-age jet-powered flying toasters (and toast!) Inspired by the ancient Berkeley Systems After Dark flying toasters. http://en.wikipedia.org/wiki/After_Dark_%28software%29#Flying_Toasters Written by Jamie Zawinski and Devon Dossett.
