
[Desktop Entry]
Name=Galaxy
Exec=/usr/lib/xscreensaver/galaxy -root
TryExec=/usr/lib/xscreensaver/galaxy
Comment=This draws spinning galaxies, which then collide and scatter their stars to the, uh, four winds or something. Written by Uli Siegmund, Harald Backert, and Hubert Feyrer.
