
[Desktop Entry]
Name=GLBlur
Exec=/usr/lib/xscreensaver/glblur -root
TryExec=/usr/lib/xscreensaver/glblur
Comment=This draws a box and a few line segments, and generates a radial blur outward from it. This creates flowing field effects. This is done by rendering the scene into a small texture, then repeatedly rendering increasingly-enlarged and increasingly-transparent versions of that texture onto the frame buffer. As such, it's quite GPU-intensive: if you don't have a very good graphics card, it will hurt your machine bad. Written by Jamie Zawinski.
