
[Desktop Entry]
Name=GLSnake
Exec=/usr/lib/xscreensaver/glsnake -root
TryExec=/usr/lib/xscreensaver/glsnake
Comment=Draws a simulation of the Rubik's Snake puzzle. See also the "Rubik" and "Cube21" screen savers. http://en.wikipedia.org/wiki/Rubik%27s_Snake Written by Jamie Wilkinson, Andrew Bennetts, and Peter Aylett.
