
[Desktop Entry]
Name=Goop
Exec=/usr/lib/xscreensaver/goop -root
TryExec=/usr/lib/xscreensaver/goop
Comment=This draws set of animating, transparent, amoeba-like blobs. The blobs change shape as they wander around the screen, and they are translucent, so you can see the lower blobs through the higher ones, and when one passes over another, their colors merge. I got the idea for this from a mouse pad I had once, which achieved the same kind of effect in real life by having several layers of plastic with colored oil between them. Written by Jamie Zawinski.
