
[Desktop Entry]
Name=Hypertorus
Exec=/usr/lib/xscreensaver/hypertorus -root
TryExec=/usr/lib/xscreensaver/hypertorus
Comment=This shows a rotating Clifford Torus: a torus lying on the "surface" of a 4D hypersphere. Inspired by Thomas Banchoff's book "Beyond the Third Dimension: Geometry, Computer Graphics, and Higher Dimensions", Scientific American Library, 1990. http://en.wikipedia.org/wiki/N-sphere http://en.wikipedia.org/wiki/Clifford_torus http://en.wikipedia.org/wiki/Regular_polytope Written by Carsten Steger.
