
[Desktop Entry]
Name=Interaggregate
Exec=/usr/lib/xscreensaver/interaggregate -root
TryExec=/usr/lib/xscreensaver/interaggregate
Comment=A surface is filled with a hundred medium to small sized circles. Each circle has a different size and direction, but moves at the same slow rate. Displays the instantaneous intersections of the circles as well as the aggregate intersections of the circles. Though actually it doesn't look like circles at all! Written by Casey Reas, William Ngan, Robert Hodgin, and Jamie Zawinski.
