
[Desktop Entry]
Name=Lament
Exec=/usr/lib/xscreensaver/lament -root
TryExec=/usr/lib/xscreensaver/lament
Comment=Animates a simulation of Lemarchand's Box, the Lament Configuration, repeatedly solving itself. Warning: occasionally opens doors. http://en.wikipedia.org/wiki/Lemarchand%27s_box Written by Jamie Zawinski.
