
[Desktop Entry]
Name=Loop
Exec=/usr/lib/xscreensaver/loop -root
TryExec=/usr/lib/xscreensaver/loop
Comment=Generates loop-shaped colonies that spawn, age, and eventually die. http://en.wikipedia.org/wiki/Langton%27s_loops Written by David Bagley.
