
[Desktop Entry]
Name=MemScroller
Exec=/usr/lib/xscreensaver/memscroller -root
TryExec=/usr/lib/xscreensaver/memscroller
Comment=This draws a dump of its own process memory scrolling across the screen in three windows at three different rates. Written by Jamie Zawinski.
