
[Desktop Entry]
Name=MoebiusGears
Exec=/usr/lib/xscreensaver/moebiusgears -root
TryExec=/usr/lib/xscreensaver/moebiusgears
Comment=Draws a closed, interlinked chain of rotating gears. The layout of the gears follows the path of a moebius strip. See also the "Pinion" and "Gears" screen savers. http://en.wikipedia.org/wiki/Involute_gear http://en.wikipedia.org/wiki/Moebius_strip Written by Jamie Zawinski.
