
[Desktop Entry]
Name=Moire2
Exec=/usr/lib/xscreensaver/moire2 -root
TryExec=/usr/lib/xscreensaver/moire2
Comment=Generates fields of concentric circles or ovals, and combines the planes with various operations. The planes are moving independently of one another, causing the interference lines to spray. http://en.wikipedia.org/wiki/Moire_pattern Written by Jamie Zawinski.
