
[Desktop Entry]
Name=Molecule
Exec=/usr/lib/xscreensaver/molecule -root
TryExec=/usr/lib/xscreensaver/molecule
Comment=Draws several different representations of molecules. Some common molecules are built in, and it can also read PDB (Protein Data Bank) files as input. http://en.wikipedia.org/wiki/Protein_Data_Bank_%28file_format%29 Written by Jamie Zawinski.
