
[Desktop Entry]
Name=Piecewise
Exec=/usr/lib/xscreensaver/piecewise -root
TryExec=/usr/lib/xscreensaver/piecewise
Comment=This draws a bunch of moving circles which switch from visibility to invisibility at intersection points. Written by Geoffrey Irving.
