
[Desktop Entry]
Name=Pong
Exec=/usr/lib/xscreensaver/pong -root
TryExec=/usr/lib/xscreensaver/pong
Comment=This simulates the 1971 Pong home video game, as well as various artifacts from displaying it on a color TV set. In clock mode, the score keeps track of the current time. http://en.wikipedia.org/wiki/Pong Written by Jeremy English and Trevor Blackwell.
