
[Desktop Entry]
Name=Providence
Exec=/usr/lib/xscreensaver/providence -root
TryExec=/usr/lib/xscreensaver/providence
Comment="A pyramid unfinished. In the zenith an eye in a triangle, surrounded by a glory, proper." http://en.wikipedia.org/wiki/Eye_of_Providence Written by Blair Tennessy.
