
[Desktop Entry]
Name=Qix
Exec=/usr/lib/xscreensaver/qix -root
TryExec=/usr/lib/xscreensaver/qix
Comment=Bounces a series of line segments around the screen, and uses variations on this basic motion pattern to produce all sorts of different presentations: line segments, filled polygons, and overlapping translucent areas. http://en.wikipedia.org/wiki/Qix Written by Jamie Zawinski.
