
[Desktop Entry]
Name=Rubik
Exec=/usr/lib/xscreensaver/rubik -root
TryExec=/usr/lib/xscreensaver/rubik
Comment=Draws a Rubik's Cube that rotates in three dimensions and repeatedly shuffles and solves itself. See also the "GLSnake" and "Cube21" screen savers. http://en.wikipedia.org/wiki/Rubik%27s_Cube Written by Marcelo Vianna.
