# Please use the comment field to explain why hacks are moved to *-extra
# Format:
# hack	binary-package	optional-comment

abstractile	xscreensaver-data
anemone	xscreensaver-data-extra
anemotaxis	xscreensaver-data-extra
antinspect	xscreensaver-gl
antmaze	xscreensaver-gl-extra
antspotlight	xscreensaver-gl
apollonian	xscreensaver-data-extra
apple2	xscreensaver-data-extra
atlantis	xscreensaver-gl-extra
attraction	xscreensaver-data-extra
atunnel	xscreensaver-gl
barcode	xscreensaver-data-extra
blaster	xscreensaver-data-extra
blinkbox	xscreensaver-gl
blitspin	xscreensaver-data-extra
blocktube	xscreensaver-gl-extra
boing	xscreensaver-gl-extra
bouboule	xscreensaver-data-extra
bouncingcow	xscreensaver-gl-extra
boxed	xscreensaver-gl-extra
boxfit	xscreensaver-data-extra
braid	xscreensaver-data-extra
bsod	xscreensaver-screensaver-bsod
bubble3d	xscreensaver-gl
bumps	xscreensaver-data-extra
cage	xscreensaver-gl-extra
carousel	xscreensaver-gl-extra
ccurve	xscreensaver-data-extra
celtic	xscreensaver-data-extra
circuit	xscreensaver-gl
cloudlife	xscreensaver-data-extra
companioncube	xscreensaver-gl-extra
compass	xscreensaver-data-extra
coral	xscreensaver-data-extra
crackberg	xscreensaver-gl-extra
crystal	xscreensaver-data-extra
cube21	xscreensaver-gl-extra
cubenetic	xscreensaver-gl-extra
cubestorm	xscreensaver-gl
cubicgrid	xscreensaver-gl-extra
cwaves	xscreensaver-data
cynosure	xscreensaver-data-extra
dangerball	xscreensaver-gl-extra
decayscreen	xscreensaver-data-extra
deco	xscreensaver-data
deluxe	xscreensaver-data-extra
demon	xscreensaver-data-extra
discrete	xscreensaver-data-extra
distort	xscreensaver-data
drift	xscreensaver-data-extra
endgame	xscreensaver-gl
engine	xscreensaver-gl
epicycle	xscreensaver-data-extra
eruption	xscreensaver-data-extra
euler2d	xscreensaver-data-extra
extrusion	xscreensaver-gl-extra
fadeplot	xscreensaver-data-extra
fiberlamp	xscreensaver-data
fireworkx	xscreensaver-data-extra
flame	xscreensaver-data-extra
flipflop	xscreensaver-gl
flipscreen3d	xscreensaver-gl
fliptext	xscreensaver-gl-extra
flow	xscreensaver-data-extra
fluidballs	xscreensaver-data-extra
flurry	xscreensaver-gl-extra
flyingtoasters	xscreensaver-gl
fontglide	xscreensaver-data-extra
fuzzyflakes	xscreensaver-data
galaxy	xscreensaver-data
gears	xscreensaver-gl
gflux	xscreensaver-gl
glblur	xscreensaver-gl
glcells	xscreensaver-gl
gleidescope	xscreensaver-gl
glhanoi	xscreensaver-gl-extra
glknots	xscreensaver-gl
glmatrix	xscreensaver-gl
glplanet	xscreensaver-gl-extra
glschool	xscreensaver-gl
glslideshow	xscreensaver-gl
glsnake	xscreensaver-gl
gltext	xscreensaver-gl
goop	xscreensaver-data-extra
grav	xscreensaver-data-extra
greynetic	xscreensaver-data-extra
halftone	xscreensaver-data-extra
halo	xscreensaver-data-extra
helix	xscreensaver-data-extra
hilbert	xscreensaver-gl-extra
hopalong	xscreensaver-data-extra
hypertorus	xscreensaver-gl
hypnowheel	xscreensaver-gl-extra
ifs	xscreensaver-data-extra
imsmap	xscreensaver-data-extra
interaggregate	xscreensaver-data-extra
interference	xscreensaver-data-extra
intermomentary	xscreensaver-data-extra
jigglypuff	xscreensaver-gl
jigsaw	xscreensaver-gl-extra
juggler3d	xscreensaver-gl-extra
julia	xscreensaver-data-extra
kaleidescope	xscreensaver-data-extra
klein	xscreensaver-gl-extra
kumppa	xscreensaver-data-extra
lament	xscreensaver-gl-extra
lavalite	xscreensaver-gl
lcdscrub	xscreensaver-data-extra
ljlatest	xscreensaver-data-extra
lockward	xscreensaver-gl
loop	xscreensaver-data-extra
m6502	xscreensaver-data
maze	xscreensaver-data-extra
memscroller	xscreensaver-data-extra
menger	xscreensaver-gl-extra
metaballs	xscreensaver-data
mirrorblob	xscreensaver-gl
moebiusgears	xscreensaver-gl
moebius	xscreensaver-gl
moire2	xscreensaver-data-extra
moire	xscreensaver-data-extra
molecule	xscreensaver-gl
morph3d	xscreensaver-gl
mountain	xscreensaver-data-extra
munch	xscreensaver-data-extra
nerverot	xscreensaver-data-extra
noof	xscreensaver-gl-extra
noseguy	xscreensaver-data-extra
pacman	xscreensaver-data-extra
pedal	xscreensaver-data-extra
penetrate	xscreensaver-data-extra
penrose	xscreensaver-data
petri	xscreensaver-data-extra
phosphor	xscreensaver-data-extra
photopile	xscreensaver-gl-extra
piecewise	xscreensaver-data-extra
pinion	xscreensaver-gl-extra
pipes	xscreensaver-gl
polyhedra	xscreensaver-gl
polyominoes	xscreensaver-data-extra
polytopes	xscreensaver-gl
pong	xscreensaver-data-extra
popsquares	xscreensaver-data	Do not ship .desktop file b/c conflict with gnome-screensaver
providence	xscreensaver-gl-extra
pulsar	xscreensaver-gl
pyro	xscreensaver-data-extra
qix	xscreensaver-data-extra
queens	xscreensaver-gl
rd-bomb	xscreensaver-data-extra
ripples	xscreensaver-data
rocks	xscreensaver-data-extra
rorschach	xscreensaver-data-extra
rotzoomer	xscreensaver-data-extra
rubik	xscreensaver-gl-extra
rubikblocks	xscreensaver-gl-extra
sballs	xscreensaver-gl-extra
shadebobs	xscreensaver-data
sierpinski3d	xscreensaver-gl
sierpinski	xscreensaver-data-extra
skytentacles	xscreensaver-gl-extra
slidescreen	xscreensaver-data
slip	xscreensaver-data-extra
sonar	xscreensaver-gl
speedmine	xscreensaver-data-extra
spheremonics	xscreensaver-gl
spotlight	xscreensaver-data-extra
sproingies	xscreensaver-gl-extra
squiral	xscreensaver-data-extra
stairs	xscreensaver-gl-extra
starfish	xscreensaver-data-extra
starwars	xscreensaver-gl-extra
stonerview	xscreensaver-gl
strange	xscreensaver-data-extra
substrate	xscreensaver-data-extra
surfaces	xscreensaver-gl-extra
superquadrics	xscreensaver-gl
swirl	xscreensaver-data
tangram	xscreensaver-gl-extra
thornbird	xscreensaver-data-extra
timetunnel	xscreensaver-gl-extra
topblock	xscreensaver-gl
triangle	xscreensaver-data-extra
tronbit	xscreensaver-gl-extra
truchet	xscreensaver-data-extra
twang	xscreensaver-data-extra
vermiculate	xscreensaver-data-extra
vidwhacker	xscreensaver-data-extra
voronoi	xscreensaver-gl
wander	xscreensaver-data-extra
webcollage-helper	xscreensaver-screensaver-webcollage
webcollage	xscreensaver-screensaver-webcollage
whirlwindwarp	xscreensaver-data-extra
wormhole	xscreensaver-data-extra
xanalogtv	xscreensaver-data-extra
xflame	xscreensaver-data-extra
xjack	xscreensaver-data-extra
xlyap	xscreensaver-data
xmatrix	xscreensaver-data-extra
xrayswarm	xscreensaver-data-extra
xspirograph	xscreensaver-data-extra
zoom	xscreensaver-data-extra
